/* @import '../../../../../.cache/wal/colors-waybar.css'; */

/* NORD palette https://github.com/nordtheme/nord */
/* blacks */
@define-color nord1 #2e3440;
@define-color nord2 #3b4252;
@define-color nord3 #434c5e;
@define-color nord4 #4c566a;
/* whites */
@define-color nord5 #d8dee9;
@define-color nord6 #e5e9f0;
@define-color nord7 #e5e9f0;
/* frost */
@define-color nord8 #8fbcbb;
@define-color nord9 #88c0d0;
@define-color nord10 #81a1c1;
@define-color nord11 #5e81ac;
/* aurora */
@define-color nord12 #bf616a;
@define-color nord13 #d08770;
@define-color nord15 #ebcb8b;
@define-color nord16 #a3be8c;
@define-color nord17 #b48ead;

@define-color bg_color rgba(46, 52, 64, 0.7);
@define-color fg_color #bbbbbb;

@define-color bg_active_color #8fbcbb;
@define-color fg_active_color #2e3440;


* {
	font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	border: none;
	border-radius: 0px;
}

window#waybar {
	background-color: rgba(43, 48, 59, 0);
	transition-property: background-color;
	transition-duration: .5s;
	margin-top: 5px;
}

window#waybar.hidden {
	opacity: 0.2;
}

.module,
button {
	border-radius: 15px;
}

.module {
	border-width: 2px;
	background-color: @bg_color;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
}

#custom-right-arrow,
#custom-left-arrow {
	font-family: monospace;
	color: #1a1a1a;
	/* font-size: 18px; */
	padding: 0;
}

#workspaces button {}

#workspaces button,
#workspaces button.active {
	transition: 0.5s all ease-out;
}

#workspaces button.active {
	background-color: @bg_active_color;
	color: @fg_active_color;
	padding-left: 15px;
	padding-right: 15px;
}

#workspaces button:hover {
	background-color: @bg_active_color;
	color: @fg_active_color;
}
