* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0);
  color: #bbbbbb;
  transition-property: background-color;
  transition-duration: 2s;
  padding: 10px;
}

window#waybar.hidden {
  opacity: 0.2;
}

widget {
  border-radius: 20px;
  background-color: rgba(40, 40, 40, 0.8);
}

.modules-left widget:first-child {
  padding-left: 0px;
}

.modules-right widget:first-child  {
  padding-right: 0px;
}

box,
label {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

button label,
button box {
		padding: 0px;
}
