@import '../../.cache/wal/colors-waybar.css';

/* NORD palette https://github.com/nordtheme/nord */
/* blacks */
@define-color nord1 #2e3440;
@define-color nord2 #3b4252;
@define-color nord3 #434c5e;
@define-color nord4 #4c566a;
/* whites */
@define-color nord5 #d8dee9;
@define-color nord6 #e5e9f0;
@define-color nord7 #e5e9f0;
/* frost */
@define-color nord8 #8fbcbb;
@define-color nord9 #88c0d0;
@define-color nord10 #81a1c1;
@define-color nord11 #5e81ac;
/* aurora */
@define-color nord12 #bf616a;
@define-color nord13 #d08770;
@define-color nord14 #ebcb8b;
@define-color nord15 #a3be8c;
@define-color nord16 #b48ead;

@define-color bg_color rgba(46, 52, 64, 0.7);
@define-color fg_color @nord7;

@define-color bg_active_color #8fbcbb;
@define-color fg_active_color #2e3440;
@define-color critical #D60B00;


* {
	font-family: "FiraCode Nerd Font Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	border: none;
	border-radius: 0px;
	font-size: 11pt;
}

window#waybar {
	background-color: rgba(43, 48, 59, 0);
	transition-property: background-color;
	transition-duration: .5s;
	margin-top: 5px;
}

window#waybar.hidden {
	opacity: 0.2;
}

.modules-left .module {
	margin-right: 2px;
}

.modules-right .module {
	margin-left: 2px;
}

.module,
button {
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	color: @fg_color;
}

.module {
	border-width: 2px;
	background-color: @bg_color;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#workspaces button,
#workspaces button.active {
	transition: 0.5s all ease-out;
	margin-left: 3px;
	margin-right: 3px;
	border-radius: 15px;
}

#workspaces button.active {
	background-color: @bg_active_color;
	color: @fg_active_color;
	padding-left: 15px;
	padding-right: 15px;
}

#workspaces button:hover {
	background-color: @bg_active_color;
	color: @fg_active_color;
}

/* Merge system info modules together */
#cpu,
#memory,
#temperature {
	border-radius: 0px;
	margin: 0px;
	background-color: @nord13;
	color: @nord1;
	padding-left: 5px;
	padding-right: 5px;
}

#cpu {
	border-bottom-left-radius: 15px;
	padding-left: 10px;
}

#temperature {
	border-bottom-right-radius: 15px;
	padding-right: 10px;
}

/* Merge controls together */
#idle_inhibitor,
#pulseaudio,
#backlight {
	border-radius: 0px;
	margin: 0px;
	background-color: @nord11;
	color: @nord1;
	padding-left: 5px;
	padding-right: 5px;
}

#idle_inhibitor {
	border-bottom-left-radius: 15px;
	padding-left: 10px;
}

#pulseaudio {
	border-bottom-right-radius: 15px;
	margin-right: 2px;
	padding-right: 10px;
}

/* Merge utilities together */
#custom-displays,
#custom-wvkbd,
#custom-sunset {
	border-radius: 0px;
	margin: 0px;
	background-color: @nord10;
	padding-left: 5px;
	padding-right: 5px;
	color: @nord1;
}

#custom-displays {
	border-bottom-left-radius: 15px;
	padding-left: 10px;
}

#custom-sunset {
	border-bottom-right-radius: 15px;
	padding-right: 10px;
}

#network {
	background-color: @nord15;
	color: @nord1;
}

#tray {
	background-color: @nord2;
	color: @nord1;
}

#battery {
	background-color: @nord14;
	color: @nord1;
}

#clock {
	background-color: @nord16;
	color: @nord1;
}

#custom-archicon {
	font-size: 1.4em;
	color: #1793d0;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 10px;
	padding-left: 5px;
}

/* Critical blinkin animations */
@keyframes blinkCritical {
	to {
		background-color: @critical;
		color: @fg_color;
	}
}

#battery.critical:not(.charging) {
	animation-name: blinkCritical;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#temperature.critical {
	animation-name: blinkCritical;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
