#!/bin/bash
[[ -f ~/.config/zsh/.zshenv ]] && . ~/.config/zsh/.zshenv

# Load and execute custom profiles
if [ -d ~/.scripts ] ; then
    if [ -f ~/.scripts/xprofile ] ; then
        . ~/.scripts/xprofile
    fi
fi
