window {
  margin: 0px;
  border: 2px solid --wofi-color2;
  border-radius: 5px;
  background-color: #333333;
  font-family: monospace;
  font-size: 12px;
}

#input {
  margin: 5px;
  border: 1px solid --wofi-color1;
  color: #eceff4;
  background-color: #333333;
}

#input image {
  color: #eceff4;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #333333;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #333333;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #eceff4;
}

#entry:selected {
  background-color: --wofi-color3;
  font-weight: normal;
}

#text:selected {
  background-color: --wofi-color3;
  font-weight: normal;
}
