[Unit]
Description=Daily Hostpoint backup

[Timer]
# Other examples:
#   OnCalendar=hourly
#   OnCalendar=weekly
#   OnCalendar=Mon..Fri 08:00
#   OnCalendar=*:0/15        (every 15 minutes)
OnCalendar=*-*-* 04:30:00

# If the system was off at the scheduled time, run once it comes back up.
Persistent=true

[Install]
WantedBy=timers.target
